<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
<section>
    <form>
      <h1>Início</h1>
      <div class="inputbox">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" required>
        <label for="">Usuário</label>
      </div>
      <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" required>
        <label for="">Senha</label>
      </div>
      <div class="forget">
        <label for=""><input type="checkbox">Lembrar</label>
        <a href="#">Esqueci minha Senha</a>
      </div>
      <button>Iniciar</button>
      <div class="register">
        <p>Não possuo cadastro <a href="#">Registrar</a></p>
      </div>
    </form>
</section>
</body>
</html>
