<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
<section>
    <form>
      <h1>Crie sua Conta!</h1>
      <br>
      <br>
      <div class="inputbox">
        <label for="">Nome Completo</label>
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" required>
      </div>
      <div class="inputbox">
        <label for="">Email</label>
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" required>
      </div>
      <div class="inputbox">
        <label for="">Usuário</label>
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" required>
      </div>
      <div class="inputbox">
        <label for="">Senha</label>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" required>
      </div>
      <button onclick="window.location.href = '/homepage'">Criar conta</button>
      <br>
      <br>
      <div class="botao-cadastro">
        <a href="#">Já possui cadastro?</a>
        </div>
    </form>
</section>
</body>
</html>
