<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
<section>
  <nav>
    <a class="logo" href="/">Website</a>
    <ul class="nav-list">
      <li><a href="/"></a>Início</li>
      <li><a href="/"></a>Sobre</li>
      <li><a href="/"></a>Projetos</li>
      <li><a href="/"></a>Contato</li>
    </ul>
  </nav>
    <h1>Você está logado!</h1>
</section>
</body> 
</html>
