<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hDC Host</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
<section>
    <form>
      <h1>Seja bem-vindo(a)!</h1>
      <br>
      <br>
      <div class="inputbox">
        <label for="">Usuário</label>
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" required>
      </div>
      <div class="inputbox">
        <label for="">Senha</label>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input type="password" required>
      </div>
      <div class="forget">
        <label for=""><input type="checkbox">Lembrar</label>
        <a href="#">Esqueci minha senha</a>
      </div>
      <button onclick="window.location.href = '/homepage'">Iniciar</button>
      <div class="register">
        <br>
        <p>Não possui cadastro? <a href="{{route('/create')}}">Registre-se</a></p>
      </div>
    </form>
</section>
</body>
</html>
