/*body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(images/mountains-3523153_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'popins', sans-serif;
}


nav {
  background-color: rgba(109, 109, 109, 0.5); 
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.logo {
  color: black;
  font-size: 24px;
  text-decoration: none;
  margin-right: auto; 
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-list li {
  margin-right: 40px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}

body {
  padding-top: 70px; 
  margin: 0;
}

*/

body, textarea{
    margin: 0;
    padding: 0;
    font-family: 'Geologica', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
  }
  
  h1{
    color: darkblue;
  }
  
  h2,h3{
    color: black;
  }
  
  p{
    color: black;
  }
  
  /* barra de navegação */
  
  .conteudo-navbar{
    width: 100%;
    height: 80px;
    background-color: #211B15;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box; 
  }
  
  .logo{
    width: 50px;
    margin-top: 20px;
  }
  
  nav{
    position: relative;
  }
  
  .items-navbar{
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
  }
  
  .items-navbar li{    /* "li" representa lista */
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
  }
  
  .items-navbar li a{
    color: white;
    text-decoration: none;
    transition: .5s;
  }
  
  .items-navbar li a:hover{      /* animação cursor em cima do elemento*/
    color: gray; 
  }
  
  .default-btn{
    padding: 15px 20px;
    background-color: #6cbb3c;
    border-radius: 5px;  /*bordas arrendondadas*/
    color: white;
  }
  
  /* main banner */
  
  .main-banner{
    background-image: url(images/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;  /*centralizar o conteudo ** distancia entre o conteudo e suas bordas*/
    position: relative;
  }
  
  .main-banner h1, .main-banner p{
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  .main-banner h1{
    font-size: 54px;
  }
  
  .main-banner p{
    font-size: 32px;
  }
  
  /* parte de especialidades da pagina */
  
  .specialties-container{
    padding: 5em 0;
  }
  
  .specialties-container ul{
    display: flex;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  
  .specialties-container ul li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
  }
  
  .fas{
    font-size: 60px;
    margin-bottom: 15px;
  }
  
  .fa-shield-alt{
    color: #2cc76a;
  }
  
  .fa-rocket{
    color: #ee3f29;
  }
  
  .fa-comments{
    color: darkblue;
  }
  
  .specialties-container ul li h3{
    margin-bottom: 25px;
  }
  
  .specialties-container ul li p{
    line-height: 24px;
  }
  
  /* preços dos produtos */
  
  .conteudo-precos{
    padding-bottom: 5em;
    text-align: center;
  }
  
  .conteudo-precos h1{
    font-size: 36px;
    margin-top: 0;
  }
  
  .conteudo-precos p{
    font-size: 20px;
  }
  
  .conteudo-planos{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .planos{
    flex: 1 1 200px;
    max-width: 275px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .planos ul{
    padding: 0;
  }
  
  .planos li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: lightgray;
    color: #333;
  }
  
  .planos .preco{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: #FFF;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
  }
  
  .planos .nome-plano{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    background-color: #202b34;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  .planos .plano-btn{
    background-color: #2cc762;
    color: #FFF;
    font-size: 20px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
  }
  
  .planos .recomendado{
    background-color: red;
  }
  
  /* buscar dominio desejado */
  
  .conteudo-search-dominio{
    background-color: #34454e;
    text-align: center;
    padding: 1em 0;
  }
  
  .conteudo-search-dominio{
    color: #FFF;
    font-size:35px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .conteudo-search-dominio p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px; 
  }
  
  .conteudo-search-dominio input{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
  }
  
  .conteudo-search-dominio input[type=text]{
    margin-bottom: 25px;
    width: 60%;
    padding: 20px;
    font-size: 20px;
  }
  
  .conteudo-search-dominio input[type=submit]{
    background-color: #2cc76a;
    padding: 15px 30px;
    color: #FFF;
    font-size: 24px;
  }
  
  /* parte de contato */
  
  .contato-container{
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
  }
  
  .contato-container h2{
    font-size: 36px;
  }
  
  .contato-container p{
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .contato-container input, .contato-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .contato-container textarea{
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 468px;
    height: 150px;
  }
  
  .contato-container input[type=submit]{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #2cc76a;
    color: #FFF;
  }
  
  footer{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  html{
    scroll-behavior: smooth;
  }